* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
}

.form-container {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

form {
    align-items: center;
    box-shadow:2px 2px 5px aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    width: 50%;
    transition: .5s;
}

form:hover {
    box-shadow:2px 2px 5px deeppink;
    scale: 1.01;
}

form h1 {
    font-size: 4rem;
}

form label {
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

form input {
    border: 1px solid slategray;
    border-radius: .5rem;
    outline: none;
    margin-bottom: 1.5rem;
    padding: .75rem 1rem;
}

.login {
    background: aqua;
    padding: .75rem 2rem;
    font-weight: bold;
    transition: .2s;
}

.login:hover {
    background: rgb(43, 150, 150);

}

.hide {
    display: none
}

/* Admin */

.side-bar {
    background: rgb(112, 112, 112);
    height: 100vh;
    width: 10%;
    max-width: 50%;
    transition: .2s ease-in;
}

.image-con {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2rem;
    border: 5px solid;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.image-con:hover {
    border: 2px solid teal;
}

.image-con img {
    width: 100%;
}

.side-bar:hover {
    width: 20%;
}

.side-bar-content {
    color: aqua;
    text-align: center;
}

.side-bar-items {
   padding: 2rem;
}


.side-bar-items ul li{
    text-align: start;
    margin-bottom: 40%;
}